@{ ViewBag.Title = "Home Page"; }

<style>
    .neon-text {
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        color: #ff66cc;
        text-shadow: 0 0 5px #ff66cc, 0 0 10px #ff66cc, 0 0 20px #ff66cc, 0 0 40px #ff66cc;
    }

    .neon-slogan {
        font-size: 5rem; 
        font-weight: bold;
        text-align: center;
        color: #ff66cc; 
        text-shadow: 0 0 5px #ff66cc, 0 0 10px #ff66cc, 0 0 20px #ff66cc, 0 0 40px #ff66cc;
    }

    .jumbotron {
        background-color: #333333;
        color: #fff;
        text-align: center;
        padding: 2rem;
    }

    .custom-image {
        display: block;
        margin: 2rem auto;
        max-width: 35%;
        height: auto;
        border: 2px solid #ff66cc;
        box-shadow: 0 0 15px #ff66cc;
    }
</style>

<div class="jumbotron">
    <h1 class="neon-text">Bienvenido a Vapers Club</h1>
    <img src="/Imagenes/OSO%20VAPERS.jpg" alt="Imagen de Vaper Club" class="custom-image">
    <p class="lead">Disfruta de una experiencia única con Vapers Club.</p>
    <p class="neon-slogan">Yo no fumo, yo vapeo</p>
</div>
